:root {
    --body-background-color: white;
    --body-color: black;
    --a-color: black;
    --terminal-header-background: #e0e8f0;
    --terminal-background-color: rgb(252, 248, 248);
    --terminal-text-color: black;
    --zoom-value: 75%;
}
body.theme-dark {
    --body-background-color: black;
    --body-color: white;
    --a-color: white;
    --terminal-header-background: #2c2f32;
    --terminal-background-color: rgb(34, 31, 31);
    --terminal-text-color: white;
}

body.desktop-mode {
    --zoom-value: 100%;
}


.container-zoom {
    zoom: var(--zoom-value);
}

html {
    overflow-y: scroll; /* Always show a vertical scrollbar */
}

body {
    padding: 9%;
    margin: 10px 10px 0 10px;

    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--body-background-color);
    color: var(--body-color);
}

a {
    text-decoration: none;
    color: var(--a-color);

    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover, a:active {
    color: var(--a-color);
}

body {
    overflow-x: hidden;
}

.scroll-margin-container {
    scroll-margin-right: 20px;
    margin-right: 20px;
}

