#terminal-window div {
  letter-spacing: 2px;
  word-spacing: 1px;
}

#terminal-window span::selection {
  background-color: white;
  color: black;
}

#terminal-window {
  position: relative;

  min-height: 400px;
  max-width: 1200px;
  width: 96%;
  margin: 50px 10px 0 10px;

  border-radius: 8px 8px 0 0;

  overflow: auto;
}

.header {
  background: var(--terminal-header-background);
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;

  button {
      height: 12px;
      width: 12px;
      margin: 10px 4px 0 0;
      border-radius: 50%;
      border: none;
  }

  .green {
      background: #3bb662;
      cursor: pointer;
  }

  .yellow {
      background: #e5c30f;
      cursor: pointer;
  }

  .red {
      background: #e75448;
      cursor: pointer;
      margin-left: 10px;
  }
}

#terminal {
  overflow-x: hidden;
  overflow-y: auto;

  position: absolute;

  background-color: var(--terminal-background-color);
  color: var(--terminal-text-color);

  top: 30px;
  bottom: 0;
  width: 100%;

  padding-top: 10px;
}

#terminal {

  .hidden {
    display: flex;
    white-space: normal;
    padding-left: 2px;
    padding-right: 2px;
  }

  .root {
    color: rgb(172, 158, 158);
    display: inline-block;
  }

  .tick {
    color:#e5c30f;
    display: inline-block;
    margin: 0;
    padding: 0 2px;
  }

  .input {
    display: inline-block;
    word-break: break-word;

    min-width: 0;

    margin: 0;
    padding: 0;

    padding-left: 2px;

    outline: none;
  }

  span.input:focus-visible {
    outline: none;
  }

  .output {
    display: inline-block;
    word-break: break-word;

    min-width: 0;

    margin: 0;
    padding: 0;

    padding-left: 2px;

    outline: none;
  }
}